body{
font-family:Inter;
background:#f6f6f8;
margin:0;
}

.navbar{
display:flex;
justify-content:space-between;
padding:20px;
background:#1d56c9;
color:white;
}

.feed-container{
width:800px;
margin:auto;
}

.post-card{
background:white;
padding:20px;
margin-top:20px;
border-radius:10px;
}